---
---
#a-title::before {
  content: none !important;
}

@import "{{ site.theme }}";
// Define the font using @font-face
@font-face {
  font-family: 'Share Tech Mono';
  src: url('../fonts/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Apply font globally across key elements
body,
h1, h2, h3, h4, h5, h6,
a, nav, button, code, pre,
.btn, .container, header, section,
.site-title, .site-header, .site-footer {
  font-family: 'Share Tech Mono', monospace !important;
}

